* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0.5rem 1rem 2rem;
}

h2 {
  font-size: 1.3rem;
  margin: 1.5rem 0 0.5rem;
}

p {
  line-height: 1.5rem;
}

button,
input {
  font-size: 1rem;
  line-height: 2.5rem;
  margin: 0;
  padding: 0 0.5rem;
}

#shortcuts-table {
  margin-block-end: 1rem;

  table {
    width: 100%;
  }

  th,
  td {
    line-height: 2rem;
    padding: 0 0.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 2.5rem;
    margin: 0;
  }
}

#add-site-form,
.site-list-item {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr min-content;
  margin-top: 1rem;

  p {
    font-size: 1rem;
    line-height: 2.5rem;
    margin: 0;
  }
}
